@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  @font-face {
    font-family: 'helvetica';
    src: url(/fonts/helvetica-neue.ttf) format('truetype');
  }

  html {
    overflow-y:scroll;
  }

  h1{
    font-weight: bold;
    font-size: 2rem;
    margin: 10px 0 10px 0;
    color: #3399ff;
  }

  h2{
    font-weight: bold;
    font-size: 1.5rem;
    color: #3399ff;
  }
}

